<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>access records</title>
</head>
<body>
    <center>
        <h1>DISPLAY ACCESS RECORDS</h1>
        <table border="2px">
            <tr>
                <th>AR.ID</th>
                <th>NAME</th>
                <th>AUTHOR</th>
                <th>DATE</th>
            </tr>
            {% if LARO %}
            {% for i in LARO %}
            <tr>
                <td>{{ i.pk }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.author }}</td>
                <td>{{ i.date }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </center>
</body>
</html>